section.section__footer
    .footer__quicklinks
        .footer__quicklinks--heading Quick links
        ul.nav.footer__nav
            li.nav__item.footer__nav--item
                a.nav__link.footer__nav--link(href="#") Home
            li.nav__item.footer__nav--item
                a.nav__link.footer__nav--link(href="#") About
            li.nav__item.footer__nav--item
                a.nav__link.footer__nav--link(href="#") Blog
            li.nav__item.footer__nav--item
                a.nav__link.footer__nav--link(href="#") Plans
            li.nav__item.footer__nav--item
                a.nav__link.footer__nav--link(href="#") Contact
            li.nav__item.footer__nav--item
                a.nav__link.footer__nav--link(href="#") Sign Up
    .footer__discover
        .footer__discover--heading Discover Us
        ul.footer__discover--links
            li.footer__discover--item
                a.footer__discover--link.icon-small.icon__footer--facebook(href="#")
                    svg.icon: use(xlink:href="/img/sprite.svg#icon-facebook-with-circle")
            li.footer__discover--item
                a.footer__discover--link.icon-small.icon__footer--instagram(href="#")
                    svg.icon: use(xlink:href="/img/sprite.svg#icon-instagram-with-circle")
            li.footer__discover--item
                a.footer__discover--link.icon-small.icon__footer--twitter(href="#")
                    svg.icon: use(xlink:href="/img/sprite.svg#icon-twitter-with-circle")
            li.footer__discover--item
                a.footer__discover--link.icon-small.icon__footer--linkedin(href="#")
                    svg.icon: use(xlink:href="/img/sprite.svg#icon-linkedin-with-circle")
    .copy Made with 
        span.heart-emoji ❤  
        |in India