section.section__footer
    .footer__quicklinks
        .footer__quicklinks--heading Quick links
        ul.nav.footer__nav
            li.nav__item.footer__nav--item
                a.nav__link.footer__nav--link(href="/") Home
            li.nav__item.footer__nav--item
                a.nav__link.footer__nav--link(href="/projects") Projects
            li.nav__item.footer__nav--item
                a.nav__link.footer__nav--link(href="/experience") Experience
            li.nav__item.footer__nav--item
                a.nav__link.footer__nav--link(href="/contact") Contact
    .footer__discover
        .footer__discover--heading Discover Us
        ul.footer__discover--links
            li.footer__discover--item
                a.footer__discover--link.icon-small.icon__footer--linkedin(href="https://www.linkedin.com/in/laxmisravyarudraraju/" target="_blank")
                    svg.icon: use(xlink:href="/img/sprite.svg#icon-linkedin-with-circle")
            li.footer__discover--item
                a.footer__discover--link.icon-small.icon__footer--linkedin(href="https://github.com/laxmisravyarudraraju" target="_blank")
                    svg.icon.fusion: use(xlink:href="/img/fusion-interface.svg#github")
    .copy Made with 
        span.heart-emoji ❤  
        |in USA