extends manage_plans

block manageContent
    .managePlans__button.manage__button
        a(href=`/${user.name.split(' ').join('').toLowerCase()}/manageplans/editplan`).manage__button--inline.managePlans__button--inline.managePlans__editPlans--link
            .icon-edit.managePlans__link.editPlans__link.manage__link
                svg.icon: use(xlink:href="/img/sprite.svg#icon-pencil")
            .managePlans__text.manage__text Edit Plans
    form.managePlans__form.createPlan__form
        .managePlans__form--item
            label(for="name").managePlans__label.createPlan__label Name
                .icon-required
                    svg.icon: use(xlink:href="/img/sprite.svg#icon-svg")
            input(type="text" required )#name.managePlans__input.createPlan__input
        .managePlans__form--item
            label(for="description").managePlans__label.createPlan__label Description
                .icon-required
                    svg.icon: use(xlink:href="/img/sprite.svg#icon-svg")
            input(type="text" required)#description.managePlans__input.createPlan__input
        .managePlans__form--item
            label(for="price").managePlans__label.createPlan__label Price
                .icon-required
                    svg.icon: use(xlink:href="/img/sprite.svg#icon-svg")
            input(type="number" required)#price.managePlans__input.createPlan__input
        .managePlans__form--item
            label(for="duration").managePlans__label.createPlan__label Duration
                .icon-required
                    svg.icon: use(xlink:href="/img/sprite.svg#icon-svg")
            input(type="number" required)#duration.managePlans__input.createPlan__input
        .managePlans__form--item
            label(for="database").managePlans__label.createPlan__label Database
            input(type="number")#database.managePlans__input.createPlan__input
        .managePlans__form--item
            label(for="maxPages").managePlans__label.createPlan__label Max. Pages
            input(type="number")#maxPages.managePlans__input.createPlan__input
        .managePlans__form--item
            label(for="category").managePlans__label.createPlan__label Category
                .icon-required
                    svg.icon: use(xlink:href="/img/sprite.svg#icon-svg")
            select(name="category" required).managePlans__input.createPlan__input#category
                option(value="category") UI /UX
                option(value="category") DEV
        .managePlans__form--item
            label(for="summary").managePlans__label.createPlan__label Summary
            textarea(name="summary" style="resize: none;" cols="30" rows="10").managePlans__input.createPlan__input#summary
        button.btn-managePlans.btn-createPlan Create Plan