extends layout

block content
    main.form__main.form__login
        .form__main--heading.form__login--heading Please enter your login details
        form.login.login__form(action="#")
            .form__box.auth__box.form__email
                input.form__input.auth__input(type="email" name="email" placeholder="you@example.com" required)
                label.form__label.auth__label(for="email") Email Address
            .form__box.auth__box.form__password
                input.form__input.auth__input(type="password" minlength="8" name="password" placeholder="••••••••" required)
                label.form__label.auth__label(for="password") Password
            .form-buttons.auth-buttons
                button.btn.btn-inline.btn-login log In
                button.btn.btn-inline.btn-signup register