extends user

block content
    .managePlans__body
        block manageContent
            .manage__button.managePlans__button
                a(href=`/${user.name.split(' ').join('').toLowerCase()}/manageplans/editplan`).manage__button--inline.managePlans__button--inline.managePlans__editPlans--link
                    .icon-edit.manage__link.managePlans__link.editPlans__link
                        svg.icon: use(xlink:href="/img/sprite.svg#icon-pencil")
                    .manage__text.managePlans__text Edit Plans
            .managePlans__addPlan
                a(href=`/${user.name.split(' ').join('').toLowerCase()}/manageplans/createplan`).btn-addPlan--link
                    .icon-large.btn-addPlan
                        svg.icon: use(xlink:href="/img/sprite.svg#icon-circle-with-plus")
                .managePlans__addPlan--text Create New Plan