extends layout

block content
    main.form__main.form__signup
        .form__main--heading.form__signup--heading Create an account, its free!
        form.signup.signup__form(action="" method="")
            .form__box.auth__box.form__email
                input.form__input.auth__input(type="text" name="name" id="name" placeholder="Your Name" required)
                label.form__label.auth__label(for="name") Your Name
            .form__box.auth__box.form__email
                input.form__input.auth__input(type="email" name="email" id="email" placeholder="Email Address" required)
                label.form__label.auth__label(for="email") Email Address
            .form__box.auth__box.form__password
                input.form__input.auth__input(type="password" minlength="8" id="password" name="password" placeholder="Password" required)
                label.form__label.auth__label(for="password") Password
            .form__box.auth__box.form__password
                input.form__input.auth__input(type="password" minlength="8" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required)
                label.form__label.auth__label(for="confirmPassword") Confirm Password
            </div>
            .form-buttons.auth-buttons
                a(href="/login").btn.btn-inline.btn-instead Log In Instead?
                button.btn.btn-inline.btn-signup register