extends user

block content
    .settings__body
        .account__box.settings__box
            .settings__heading Your Account Settings
            form.account__details(enctype="multipart/form-data")
                .form__user-info
                    span.user-info__label Name:
                    input.user-info__input.account__details--input(type="name" name="name" value=`${user.name}`)
                .form__user-info
                    span.user-info__label Email:
                    input.user-info__input.account__details--input(type="email" name="email" value=`${user.email}`)
                .account__changeImgBox
                    figure.account__img
                        img.account__img--content(src=`/img/${user.photo}` alt="User Image")
                    input(type="file" accept="image/*" name="photo" id="photo" style="display: none;")
                    label.btn.btn-inline.btn-changeImg(for="photo") Choose New Photo
                .account__buttons
                    button.btn.btn-inline.btn-cancel.btn-grey Cancel
                    button.btn.btn-inline.btn-save.btn-green.btn-save-userinfo Update
        .passwordChange__box.settings__box
            .settings__heading Password Settings
            .account__details
                .form__user-info
                    input.user-info__input.passwordChange__input.currentPassword(type="email" name="user-email" placeholder="Current Password")
                .form__user-info
                    input.user-info__input.passwordChange__input.newPassword(type="email" name="user-email" placeholder="New Password")
                .form__user-info
                    input.user-info__input.passwordChange__input.confirmPassword(type="email" name="user-email" placeholder="Confirm Password")
            .account__buttons
                button.btn.btn-inline.btn-cancel.btn-grey Cancel
                button.btn.btn-inline.btn-save.btn-green.btn-save-password Save